
#Header {
    width: 100%;
    background: #f1f1f1;
    height: 60px;
    padding-left: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #00909e ;
    justify-content: space-between;
    }
    #logo {
        text-align: center;
        color: #060202;
        margin-left:8px ;
    }
    .search-box {
        margin-right: 10px;
        position: relative;
    }
    .search-box span {
        font-size: 33px;
        position: absolute;
        right: 7px;
        bottom: -1px;
        cursor: pointer;
    }
    .search {
        padding: 8px;
        border-radius: 25px 20px 20px 25px;
        border: 0px ;
        outline: none;
        padding-left: 15px;
        width: 180px;
    }