#nav {
    min-width: 7%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    background: rgba(16,24,32,.95);
}
.item {
    padding: 18px 3px 18px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.item:hover {
    background-color: #61c192;
}
.item img  {
    width: 20px;
    height: 20px;
}
.item span {
    font-weight: 300;
    font-size: 0.9rem;
    /* font-family: roboto; */
    margin-top: 5px;
    color: #fff;
     
}
/* #nav.collapsed {
    width: 60px;
}
#nav.collapsed .item {
   margin:20px auto; 
}
#nav.collapsed .item span{
    
     display: none;
}



#nav.collapsed .logo {
    transform: scale(0.7)
} */